<?xml version="1.0"?>
<block>
  <name>BCCH + CCCH + SDCCH/4 demapper</name>
  <key>gsm_bcch_ccch_sdcch4_demapper</key>
  <import>import grgsm</import>
  <make>grgsm.universal_ctrl_chans_demapper($timeslot_nr, $starts_fn_mod51, $channel_types)</make>

  <param>
    <name>Timeslot</name>
    <key>timeslot_nr</key>
    <value>0</value>
    <type>int</type>
    <hide>none</hide>
  </param>

  <param>
    <name>starts_fn_mod51</name>
    <key>starts_fn_mod51</key>
    <value>[2,6,12,16,22,26,32,36,42,46]</value>
    <type>int_vector</type>
    <hide>all</hide>
  </param>

  <param>
    <name>channel_types</name>
    <key>channel_types</key>
    <value>[1,2,2,2,7,7,7,7,135,135]</value>
    <type>int_vector</type>
    <hide>all</hide>
  </param>

  <sink>
    <name>bursts</name>
    <type>message</type>
  </sink>
  <source>
    <name>bursts</name>
    <type>message</type>
  </source>
  
  <doc>
      Demapper for BCCH + CCCH + SDCCH/4 + SACCH/C4 control channels.
      This corresponds to channel combination v specified in GSM 05.02, section 6.4
  </doc>
</block> 
 
