<?xml version="1.0"?>
<block>
  <name>TCH/H Demapper</name>
  <key>gsm_tch_h_chans_demapper</key>
  <import>import grgsm</import>
  <make>grgsm.tch_h_chans_demapper($timeslot_nr, $tch_h_channel)</make>

  <param>
    <name>Timeslot</name>
    <key>timeslot_nr</key>
    <value>2</value>
    <type>int</type>
    <hide>part</hide>
  </param>

  <param>
    <name>TCH/H Channel</name>
    <key>tch_h_channel</key>
    <value>0</value>
    <type>int</type>
    <hide>#if $tch_type() == 0 then 'all' else 'none'#</hide>
  </param>
  <check>$tch_h_channel() &gt; -1 and $tch_h_channel() &lt; 2</check>

  <sink>
    <name>bursts</name>
    <type>message</type>
    <optional>1</optional>
  </sink>
  <source>
    <name>tch_bursts</name>
    <type>message</type>
    <optional>1</optional>
  </source>
  <source>
    <name>acch_bursts</name>
    <type>message</type>
    <optional>1</optional>
  </source>
</block>
